<!DOCTYPE html>
<html>

<head>
    <title>vue demo5</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <ul id="example-1">
            <li v-for="item in items" :key="item.message">
                {{ item.message }}
            </li>
        </ul>
        <ul id="example-2">
            <li v-for="(item, index) in items">
                {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
        </ul>
        <div v-for="item of items">
            {{item.message}}
        </div>
        <ul id="v-for-object" class="demo">
            <li v-for="value in object">
                {{ value }}
            </li>
        </ul>
        <div v-for="(value, name) in object">
            {{ name }}: {{ value }}
        </div>
        <div v-for="(value, name, index) in object">
            {{ index }}. {{ name }}: {{ value }}
        </div>
        <li v-for="n in evenNumbers">{{ n }}</li>
        <div>
            <span v-for="n in 10">{{ n }} </span>
        </div>
        <ul>
            <template v-for="item in items">
                <li>{{ item.message }}</li>
                <li class="divider" role="presentation">---</li>
            </template>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#root',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ],
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                },
                numbers: [1, 2, 3, 4, 5]
            },
            computed: {
                evenNumbers: function () {
                    return this.numbers.filter(function (number) {
                        return number % 2 === 0
                    })
                }
            }
        })
    </script>
</body>

</html>